@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <img class="op-logo" src="~/images/OnePieceLogo.jpg" /> Encyclopedia!</h1>
</div>
